._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.mainform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainform > *:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.mainform__inputs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainform__inputs-row > input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.mainform__input {
  height: 50px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 18px;
  color: #999999;
}

.mainform__input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__input::-moz-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__input::placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__input:focus {
  border: 2px solid #eeeeee;
}

.mainform__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  width: 100%;
  height: 210px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  resize: vertical;
  max-height: 350px;
  font-size: 18px;
  color: #999999;
  padding: 15px 15px;
}

.mainform__textarea::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__textarea::-moz-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__textarea:-ms-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__textarea::-ms-input-placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__textarea::placeholder {
  font-size: 13px;
  line-height: 48px;
  font-weight: 400;
  color: #999999;
}

.mainform__submit {
  height: 50px;
  background-color: #7492ec;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  padding: 0px 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 500px) {
  .mainform__inputs-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mainform__inputs-row > input:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .mainform__inputs-row > input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (any-hover: hover) {
  .mainform__submit:hover {
    background-color: #3061f5;
  }
}