._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 8;
  min-width: 320px;

}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.header__container {
  max-width: 1800px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__top {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__picture {
  position: relative;
  z-index: 10;
  margin: 0px 10px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.header__picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__list {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list > li:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

.header__link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #99aade;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.header__link.trial {
  background-color: #7492ec;
  color: white;
  border-radius: 10px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 0px 25px;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header::before {
    background-color: white;
  }


  .header{
    position: fixed;
  }
  .header__top {
    padding: 10px 0px;
  }

  .header__menu {
    position: fixed;
    background-color: whitesmoke;
    padding: 96px 15px 20px 15px;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 8;
    left: -100%;
    opacity: 0;
    visibility: hidden;
  }

  .header__menu.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list > li:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 34px;
  }

  .header__burger {
    display: block;
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    left: 0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: black;
    top: 46.5%;
    left: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    opacity: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 767px) and (max-width: 1175px) {
  .header__link {
    font-size: calc(24px + 10 * ((100vw - 320px) / (855)));
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #577ef5;
  }

  .header__link.trial:hover {
    background-color: #3b6cff;
    color: white;
  }
}